.header {
    top: 0;
    left: 0;
    padding: 0 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0); /* Прозрачный хедер по умолчанию */
}

.header--scrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный хедер при прокрутке */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #191819;
}

.header__navbar-list {
    display: flex;
    gap: 40px;
}

.header__logo {
    cursor: pointer;
}

.header__logo-link {
    height: 100%;
    width: 100%;
}

.header__btn {
    background-color: #388B86;
    padding: 15px 26px;
    color: #E8E9F9;
    font-weight: 600;
}

.header__navbar-item {
    font-weight: 500;
}

.header--home {
    color: #E8E9F9;
}

.header--scrolled,
.header--accounts,
.header--authorization {
    color: #191819;
}

.header__right {
    width: 120px;
}

/*user menu*/

.header__right .dropdown-arrow {
    margin-top: 8px;
    height: 12px;
    width: 12px;
} 

.header__right .dropdown-menu {
    border-radius: 5px;
}

.header__right .dropdown-control {
  background-color: #388B86;
  color: #E8E9F9;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  padding: 15px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

